* {
  font-family: "Montserrat", "Arial", sans-serif;
}
.header,
.header2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
  top: 0;
}
.header2 {
  background-color: white;
  color: black;
  box-shadow: 0 2px 0 rgb(224, 224, 224);
  top: 0;
  margin-top: 0;
}
.logo_ {
  flex: 30%;
}
.logo {
  margin: 10px 20px 0;
  height: 60px;
  padding: 0 100px;
  float: left;
}

.burger {
  color: white;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
.ul {
  margin-top: 10px;
  list-style-type: none;
}

ul li {
  display: inline-block;
  color: white;
  padding: 15px;
  margin: 10px;
}
.header .link {
  color: white;
}
.header2 .link {
  color: black;
}
li .link:link,
li .link:visited {
  line-height: 2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  border-bottom: 0 solid transparent;
  transition: border-bottom 0.5s;
  -webkit-transition: border-bottom 0.5s;
  -moz-transition: border-bottom 0.5s;
  -ms-transition: border-bottom 0.5s;
  -o-transition: border-bottom 0.5s;
}

li .link:hover,
li .link:visited {
  border-bottom: 2px solid #fcb900;
}

.header li .active {
  color: #ffbd00 !important;
  border-bottom: none !important;
}

.header2 li .active {
  color: #ffbd00 !important;
  border-bottom: none !important;
}
.burgerbut {
  height: 40px;
  width: 40px;
  border: 2px solid rgb(175, 175, 175);
  border-radius: 100px;
  text-align: center;
  padding: 6px 8px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.lines {
  width: 20px;
  height: 2.5px;
  background-color: rgb(206, 206, 206);
  margin: 4px 0;
}
@media only screen and (max-width: 920px) {
  .logo_ {
    flex: 20%;
  }
  .logo {
    margin: 10px 0;
    padding: 0 20px 0 60px;
  }
}
@media only screen and (max-width: 780px) {
  li .link:link,
  li .link:visited {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 700px) {
  ul li {
    padding: 0;
  }
}

@media only screen and (max-width: 580px) {
  .ul {
    display: none;
  }

  .burger {
    display: inline-block;
  }
}
